<div ng-controller="DashboardController" ng-init="init()">
    <div class="card-section mdl-card mdl-shadow--2dp" ng-repeat="widget in widgetList">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{widget.title}}</h2>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <ul class="mdl-list">
                <li class="mdl-list__item height" ng-repeat="item in widget.itemList" ng-class="{'mdl-list__item--two-line': item.description}">
                    <span class="mdl-list__item-primary-content height">
                        <i class="material-icons mdl-list__item-avatar">{{item.icon}}</i>
                        <span>{{item.name}}</span>
                        <span ng-if="item.description" class="mdl-list__item-sub-title">
                            {{item.description}}
                        </span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>